@import 'lib/font';
@import 'lib/normalize';
@import 'lib/icomoon';
@import '_vars';
@import '_menu';

html, body {
    height: 100%;
}

body {
    background-color: #155;
    color: white;
}

section.splash {
    background: radial-gradient(circle, rgba(192, 212, 255, 0.4), transparent),
                linear-gradient(to bottom, #369, #155);
    height: 100%;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $display-font;
    font-size: 100px;
    font-weight: 700;
    text-transform: uppercase;
    height: 100%;

    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;

    .left {
        display: inline-block;
        transform: rotateY(180deg);
        margin-top: -20px;

        .sub-text {
            margin-top: 70px;
        }
    }
    .right {
        display: inline-block;
        margin-top: 20px;
    }

    .header-text {
        color: rgba(0, 33, 66, 0.5);
        float: left;
        transition: color 0.2s;
        animation: header-blink;
        animation-duration: 15s;
        animation-iteration-count: infinite;

        @keyframes header-blink {
            30%   { color: rgba(0, 33, 66, 0.5); }
            75% { color: rgba(212, 212, 212, 0.5); }
            100%   { color: rgba(0, 33, 66, 0.5); }
        }
    }

    .sub-text {
        position: absolute;
        font-size: 35px;
        margin-left: 30px;
        color: rgba(0, 33, 66, 0.8);

        animation: sub-blink;
        animation-duration: 15s;
        animation-iteration-count: infinite;
        animation-delay: 3s;

        @keyframes sub-blink {
            30%   { color: rgba(0, 33, 66, 0.8); }
            75% { color: rgba(212, 212, 212, 0.8); }
            100%   { color: rgba(0, 33, 66, 0.8); }
        }
    }

    .ca {
        $opacity: 0.25;
        $distance: 2px;
        $blur: 2px;
        text-shadow: -$distance -$distance $blur rgba(255, 0, 0, $opacity),
            $distance $distance $blur rgba(0, 255, 0, $opacity),
            -$distance $distance $blur rgba(0, 0, 255, $opacity);
    }

    @media (max-width: 420px) {
        transform: scale(0.75);
    }
}